@charset "UTF-8";

/* 노멀라이즈 */
*{
 padding: 0;
 margin: 0;
 list-style: none; 
 font-family: 'Noto Sans KR', sans-serif;
 color: #5D5D5D;
 box-sizing: border-box;
}

a{
  color:inherit;
  text-decoration: none;
  display: block;
}


input {
  border:none;
}
input:focus {
  outline:none;
}

/* 라이브러리 */
body{
  width: 100%;
  background-color: #ffffff;
  font-size: 15px;
}

.con{
  width: 1200px;
  margin: 0 auto;
}

/* style */

/* loading-page 시작 */

.loading-page {
  width:100vw;
  height:100vh;
  background-color: #DBE120;
  display:flex;
  justify-content:center;
  align-items:center;
  position:fixed;
  top:0;
  left:0;
  z-index:999;
  transition:opacity 0.3s, visibility 0.3s;
}

.loading-page.hide {
  opacity:0;
  visibility:hidden;
}


.loading-page__box__typing {
  width: 500px;
  overflow: hidden;
  white-space: nowrap;
  animation: typinganimation 3s steps(10); 
  font-weight: bolder;
  font-size: 4rem;
  display: flex;
  margin-left:30px;
  margin-bottom:40px;
}

.loading-page__box__typing > span {
  font-family: 'Gamja Flower', cursive;
  /* border:3px solid red; */
  text-align: center;
  display:block;
  width:50px;
  flex-shrink: 0;
  color:#652F8D;
}

.loading-page__box>img{
  margin-top: 20px;
  margin-left: 120px;
}

@keyframes typinganimation {
from {
    width: 0;
  }
}


/* header 시작 */
header{
  width: 100%;
  height: 120px;
  position:sticky;
  top:0;
  z-index: 888;
}

/* 헤더 색상변경 */
header.changecolor {
  background-color:#F8F5E1;
}

/* logo 시작 */

.logo{
  width: 340px;
  height: 120px;
  position: relative;
  float: left;
}

.logo a{
  width: 360px;
  height: 120px;
  position: relative;
}

.logo img{
  width: 185px;
  height: 40px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}


/* menu-bar 시작 */
.menu-bar{
  width: 930px;
  height: 120px;
  float: left;
}

.menu-bar>.mainmenu>li{
  float: left;
}


.menu-bar>.mainmenu>li>a{
 width: 150px;
 height: 120px;
 text-align: center;
 font-size: 20px;
 line-height: 120px;
 font-weight: bolder;
 display: block;
  position: relative;
}

.menu-bar>.mainmenu>li>a:hover{
  color:#AFCF44;
}

.submenu{
  float:left;
  width: 100%;
  height: 170px;
  font-size: 17px;
  display: none;
  width: 100%;
  height: 290px;
  background-color: #F8F5E1;
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}

.submenu>.sub-wrap{
  position: absolute;
  width: 1920px;
  height: 170px;
  top:120px;
  left:0;
  display: flex;
  justify-content: center;
}

.submenu>.sub-wrap>li{
  width:  127.1428px;
  height: 25px;
  text-align: center;
  line-height: 120px;
  margin: 30px;
}

.submenu li>a:hover{
  color:#652F8D;
  font-weight: bold;
}


.menu-bar > ul > li > a::after {
  content:"";
  position:absolute;
  bottom:30%;
  width:0;
  height:3px;
  background-color:#AFCF44;
  transition:0.3s;
}

.menu-bar > ul > li:hover > a::after {
  width:100%;
}

.menu-bar > ul > li:hover > a::after{
  left:50%;
  transform:translatex(-50%);
}

/* serch-wrap 시작 */
.serch-wrap{
  float: left;
  width: 365px;
  height: 120px;
  position: relative;
}

.serch-wrap>.serch-box{
  width: 365px;
  height: 40px;
  position: absolute;
  top:50%;
  transform: translate(0,-50%);
}

input {
  width: 365px;
  height: 40px;
  background-color: rgba(248,245,225,0.5);
  border:5px solid #AFCF44;
  border-radius: 30px;
  padding-left: 20px;
}

.input-box__placeholder {
  position:relative;
}

.input-box__placeholder > label {
  position:absolute;
  top:50%;
  left:20px;
  transform:translatey(-50%);
  font-size:17px;
  color:#5D5D5D;
}

.input-box__placeholder > label.focus {
  display:none;
}

.serch-icon{
  font-weight: 1.2rem;
  color:#652F8D;
  position: absolute;
  top: 32%;
  right: 5%;
}

/* icon-wrap 시작  */
.icon-wrap{
  width: 259px;
  height: 120px;
  float: right;
  display: flex;
  justify-content: center;
}

.icon-wrap>a{
  float: left;
  width: 80px;
  height: 120px;
  position: relative;
}

.icon-wrap>a>i{
  float: left;
  color:#652F8D;
  font-size: 1.2rem;
  line-height: 100px;
  transition: 0.3s;
}

.icon-wrap>a>div{
  width: 62px;
  position: absolute;
  top:50%;
  left:-27%;
  text-align: center;
}

.icon-wrap>.user-pen:hover>.fa-user-pen{
  transform: scale(1.2);
}

.icon-wrap>.door-open:hover>.fa-door-open{
  transform: scale(1.2);
}

/* main슬라이더 시작 */
.main-slide{
  width: 100%;
  height: 970px;
  position: absolute;
  top:0;
  left:0;
  float: left;
  overflow: hidden;
}

.main-slide>.slides{
  width: 5760px;
  height: 970px;
  float: left;
}

.main-slide>.slides>.slide{
  float: left;
}

/* where-cu 시작 */
.where-cu{
  margin-top: 850px;
  width: 100%;
  height: 980px;
  position: relative;
}

.where-cu>a>img{
  width: 100%;
 margin-top: 224px;
}

.where-serch{
  position: absolute;
  left:19%;
  top:57%;
}

.where-serch input {
  width: 780px;
  height: 100px;
  background-color: #FDEDBF;
  border-radius: 60px;
  padding-left: 40px;
  border:none;
  font-size: 24px;
}

.input-box__placeholder2 {
  position:relative;
}

.input-box__placeholder2 > label {
  position:absolute;
  top:50%;
  left:40px;
  transform:translatey(-50%);
  font-size:24px;
  color:#5D5D5D;
}

.input-box__placeholder2 > label.focus {
  display:none;
}

.where-serch > a{
  font-size: 2.2rem;
}



/* adslide-wrap시작 */
.adslide-wrap{
  height: 600px;
}

.adslide-wrap__img{
  position: relative;
  
}



.adslide-wrap__img img{
  width: 1200px;
  height: 600px;
  border-radius: 15px;
}


.adslide-wrap__img__view{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background-color: #afcf44;
  border-radius: 30px;
  color:#ffffff;
  font-size: 1.2rem;
  font-weight: bolder;
  line-height: 30px;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
  writing-mode: vertical-rl;
  text-orientation: upright;
}


.adslide-wrap__img__view i{
  color:#ffffff;
  margin-right: 10px;
  margin-left: 30px;
}

.adslide-wrap__img:hover .adslide-wrap__img__view{
  opacity: 1;
}

 .adslide-wrap .slick-dots li button::before {
  margin-top: 10px;
  color:#652f8d;
  font-size:20px;
}

.adslide-wrap .slick-dots li.slick-active button::before {
  color:#652f8d;
}

/* .pb-hot-wrap 시작 */
.pb-hot-wrap{
  width: 100%;
  height: 720px;
  position: relative;
  margin-top: 320px;
}

/* product-bg 시작 */
.product-bg{
  width: 100%;
  position: absolute;
  top:0;
  left:0;
}

.product-bg img{
  width: 100%;
}

/* .pbpro-box 시작 */
.pbpro-box{
  height: 360px;
  position: relative;
}

.pro-title{
  width: 395px;
  float:left;
  text-align: center;
  position: absolute;
  top:35%;
}


.pro-title .title{
  font-size: 48px;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom:2px solid #5D5D5D;
 
}

.pro-title:hover .title{
  color:#AFCF44;
}

.sub-title{
  padding-top: 10px;
}


.pbpro-box__pro-title__addview{
  display: inline-block;
  width: 100%;
  background-color: #AFCF44;
  position: absolute;
  top:50%;
  right: 0;
  text-align: right;
  color:#ffffff;
  border-radius: 15px;
  opacity: 0;
  transition: 0.3s;
}

.pbpro-box__pro-title__addview i{
  color:#ffffff;
  margin-left:20px;
  margin-right: 10px;
}

.pro-title:hover .pbpro-box__pro-title__addview{
  opacity: 1;
}


/* product-box 시작  */
.product-box{
  width: 805px;
  height: 360px;
  float: right;
}

.pro-slides{
  margin-top: 60px;
  display: flex !important;
  justify-content: space-evenly;
  align-items: center;
}

.pro-wrap{
  width: 220px;
  height: 260px;
}

.pro-img{
  width: 220px;
  height: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pro-wrap img{
  scale: 0.5;
  transition: 0.5s;
}

.pro-text{
  text-align: center;
  position: relative;
}


.pro-wrap:hover .pro-text{
  font-weight: bold;
}

.pro-text > .price{
  font-weight: bold;
}

.pro-wrap:hover img{
  scale: 0.6; 
}

.pro-wrap:hover p{
  color:#652F8D;
}

.pro-img__addview{
  width: 50px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.pro-img__addview__heartbox{
  position: relative;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.pro-img__addview__heartbox i{
  color:#AFCF44;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.pro-img__addview__heartbox > .fa-solid{
  opacity: 0;
}

.pro-img__addview__heartbox:hover >.fa-solid{
  color:#652F8D;
  opacity: 1;
}

.pro-img__addview__cartbox{
  position: relative;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.pro-img__addview__cartbox i{
  color:#AFCF44;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.pro-img__addview__cartbox:hover i{
  color:#652F8D;
}

.pro-wrap:hover .pro-img__addview{
  opacity: 1;
}



/* hot issue 상품 */
.hot-box{
  height: 360px;
  position: relative;
}


.hot-box .pro-wrap:nth-child(2) img{
  width: 300px;
}

.hot-box__pro-title__addview{
  display: inline-block;
  width: 100%;
  background-color: #AFCF44;
  position: absolute;
  top:50%;
  right: 0;
  text-align: right;
  color:#ffffff;
  border-radius: 15px;
  opacity: 0;
  transition: 0.3s;
}

.hot-box__pro-title__addview i{
  color:#ffffff;
  margin-left:20px;
  margin-right: 10px;
}

.hot-box>.pro-title:hover .hot-box__pro-title__addview{
  opacity: 1;
  transition: 0.5s;
}

 .slick-slider .btn-prev,
 .slick-slider .btn-next {
  position:absolute;
  font-size:1.5rem;
  top:50%;
  transform: translateY(-50%);
  z-index:1;
  cursor: pointer;
}
 .slick-slider .btn-prev {
  left:10px;
}
 .slick-slider .btn-next {
  right:10px;
}

/* story 시작 */
.story-wrap{
  width: 100%;
  height: 800px;
  margin-top: 320px;
  position: relative;
}

.story-wrap img{
  width: 100%;
}

.story-wrap__box{
  height: 540px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.story-wrap__box__text{
  width: 475px;
  height: 185px;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  float: left;
}

.story-wrap__box__text>.story-title{
  font-size: 48px;
  color:#AFCF44;
  border-bottom: 3px solid #AFCF44;
  font-weight: bolder;
}


.story-wrap__box__text>.sub-content{
  margin-top: 10px;
}

.sub-content>p{
  color:#ffffff;
  font-size: 17px;
}

.story-wrap__box__imgbox{
  width: 725px;
  height: 540px;
  float: right;
  display: flex;
  justify-content: space-between;
}

.story-wrap__box__imgbox__1{
  width: 287px;
  height: 453px;
  margin-left: 40px;
}

.story-wrap__box__imgbox__1>a>img{
  width: 278px;
  height: 394px;
}

.story-wrap__box__imgbox__1>a>p{
  font-size: 32px;
  color:#ffffff;
  font-weight: bold;
  position:relative;
  display: block;
  text-align: left;
}


.story-wrap__box__imgbox__1>a>p::after{
  content:"";
  position:absolute;
  bottom:0;
  left:0;
  width:0;
  height:3px;
  background-color:#ffffff;
  transition:0.3s;
}

.story-wrap__box__imgbox__1>a:hover>p::after {
  width:60%;
}


.story-wrap__box__imgbox__2{
  width: 287px;
  height: 453px;

  margin-top: 12%;
}

.story-wrap__box__imgbox__2>a>img{
  width: 287px;
  height: 394px;
}

.story-wrap__box__imgbox__2>a>p{
  font-size: 32px;
  color:#ffffff;
  font-weight: bold;
  text-align: right;
  margin-bottom: 5px;
  position:relative;
  display: block;
}

.story-wrap__box__imgbox__2>a>p::after {
  content:"";
  position:absolute;
  bottom:0;
  right:0;
  width:0;
  height:3px;
  background-color:#ffffff;
  transition:0.3s;
}

.story-wrap__box__imgbox__2>a:hover>p::after {
  width:55%;
}


/* instargram 시작 */
:root {
  --instar-wrap__slider--view-width:854px;
  --instar-wrap__slider--total-items-count:6;
  --instar-wrap__slider--view-items-count:2;
  --instar-wrap__slider--item-width:calc(var(--instar-wrap__slider--view-width) / var(--instar-wrap__slider--view-items-count));
}


 .instar-wrap{
  height: 600px;
  
  display: flex;
  margin-top: 320px;
  display: flex;
 }


.instar-wrap__slider{
  width: var(--instar-wrap__slider--view-width);
  height: 100%;
  
  overflow: hidden;
}

.instar-wrap__slider__slide{
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.instar-wrap__slider__slide>li>a{
  width: var(--instar-wrap__slider--item-width);
  padding-left:20px;
  padding-right:20px;
}

.instar-wrap__slider__slide img{
  width: 100%;
  display: block;
  transition: 0.3s;
}

.instar-wrap__slider__slide li:hover img{
  scale: 1.2;
}


.instar-wrap__textbox{
  width: 346px;
  height: 100%;
  position: relative;
  
}

.instar-wrap__slider>ul{
  animation-name: ani-1;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes ani-1 {
  0% {
    left:0;
  }
  
  100% {
    left:calc(var(--instar-wrap__slider--item-width) * var(--instar-wrap__slider--total-items-count) * -1);
  }
}

.instar-wrap__slider > ul:hover {
  animation-play-state:paused;
}

.instar-wrap__textbox__text{
  width: 100%;
  text-align: center;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.instar-wrap__textbox__text__title{
  font-size: 48px;
  font-weight: bolder;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid #5D5D5D;
  display: block;
}

.instar-wrap__textbox__text p{
  margin-top: 10px;
}


/* section-icon 시작 */
.section-icon{
  height: 360px;
  margin-top: 220px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-icon__box{
  width: 220px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.section-icon__box__img{
  width: 220px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-icon__box__img>a>img{
  width: 150px;
  transition: 0.5s;
}

.section-icon__box__img>a>.section-icon__box__img__pocket{
  width: 125px;
}

.section-icon__box__img>a>img:hover{
  scale: 1.2;
}

.section-icon__box__text{
 width: 220px;
 height: 100px;
 text-align: center;
 margin-top: 10px;
}

.section-icon__box__text>.section-icon__box__text__title{
  font-size: 24px;
  font-weight: bolder;
  position: relative;
}

.section-icon__box__text>p{
  padding-bottom: 4px;
  font-size: 17px;
}

.section-icon__box:hover .section-icon__box__text__title{
  color:#AFCF44;
}

.section-icon__box__text > .section-icon__box__text__title::after {
  content:"";
  position:absolute;
  bottom:0;
  width:0;
  height:3px;
  background-color:#AFCF44;
  transition:0.5s;
}

.section-icon__box:hover  .section-icon__box__text__title::after {
  width:80%;
  left:50%;
  transform:translatex(-50%);
}


/* footer 시작 */
.fo-line{
  margin-top: 300px;
  width: 100%;
  height: 2px;
  background-color: rgba(93,93,93,0.3);
  margin-bottom: 20px;
}

.footer{
  display: flex;
  font-size: 17px;
  padding-bottom: 20px;
}

.footer__section1{
  width: 520px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bolder;
}

.footer__section1__btlogo{
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.footer__section1__btlogo>img{
  width: 45.5px;
  height: 28px;
}

.footer__section1__btlogo>a:hover{
  color:#AFCF44;
}

.footer__section1>.footer__section1__tell{
  font-weight: normal;
}

.footer__section2{
  width: 160px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.footer__section2__title{
  color:#652F8D;
  font-weight: bolder;
}

.footer__section2__menu{
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__section2__menu>li:hover{
  color:#AFCF44;
}

.footer__section3{
  width: 464px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__section3__text{
  color:#652F8D;
  font-weight: bolder;
  margin-right: 100px;
}

.footer__section3__img>img{
  width: 270px;
  height: 129px;
  margin-right: 10px;
}


.footer__section4{
  width: 56px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.footer__section4>li{
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 2rem;
}

.footer__section4 i{
  color:#652F8D;
}

.footer__section4 i:hover{
  color:#AFCF44;
}

.footer__section4 p{
  font-family: 'Fredoka One', cursive;
  color:#652F8D;
  font-size: 1.6rem;
}

.footer__section4 p:hover{
  color:#AFCF44;
}